
.img-overlay {
  background-size: cover; /* This ensures the image covers the entire div */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; 
  height: 100vh;

}


.slide-caption {
 text-align: center;
 background-color: rgba(0, 0, 0, 0.479);
}




.slide-caption h1 {
  font-size: 2.5em;
  padding-bottom: 10px;
}

.slide-caption span {
  font-size: 1.2em;

}



@media(max-width : 576px) {


  .slide-caption h1 {
    font-size: 1.9em;
  }

  .slide-caption span {
    font-size: 1.2rem;
  }
} 

